---
layout: page
title: "About Me"
description: ""
header-img: "img/about-bg.jpg"
---


<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" > 中文 Chinese </option>
    <option value="1" selected> 英语 English </option>
</select>


<!-- English Version -->
<div class="en post-container">
    <blockquote>
        10 things about Me
    </blockquote>

    <ul>
        <li>My name is Mengwei Lee, male.</li>
        <li>I was born in a happy family and I have a lovely girlfriend now.</li>
        <li>I am addicted to coffee and beer. I like Starbucks.</li>
        <li>My research areas are biology and computer science.</li>
        <li>My favorite journal is
            <a href="https://genomebiology.biomedcentral.com" target="_blank">
                Genome Biology
            </a>。
        </li>
        <li>My favorite paper is "
            <a href="https://genomebiology.biomedcentral.com/articles/10.1186/gb-2013-14-10-r115" target="_blank">
                DNA methylation age of human tissues and cell types
            </a>"。
        </li>
        <li>I like money, but I prefer to spend money.</li>
        <li>I do believe my research is useful.</li>
        <li>The hardest thing for me is getting fat.</li>
        <li>Don't read my paper, that will waste your time. Browse my websites and codes.</li>
    </ul>


</div>


<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        关于我的10件事
    </blockquote>

    <ul>
        <li>我叫Lee，男。</li>
        <li>我出生在一个幸福的家庭，目前有一个漂亮的女朋友</li>
        <li>酷爱咖啡和啤酒，喜欢星爸爸。</li>
        <li>我的研究领域事生物和计算机。</li>
        <li>我最喜欢的杂志是<a href="https://genomebiology.biomedcentral.com" target="_blank">Genome Biology</a>.</li>
        <li>我最喜欢的文章是"
            <a href="https://genomebiology.biomedcentral.com/articles/10.1186/gb-2013-14-10-r115" target="_blank">
                DNA methylation age of human tissues and cell types
            </a>".
        </li>
        <li>我喜欢钱，更喜欢花钱。</li>
        <li>我坚信我的研究是有用的。</li>
        <li>增肥真困难。</li>
        <li>别看我的文章，纯属浪费时间。看看我的网站和代码。</li>
    </ul>


</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";

        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(1);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
